<div>
    <div class="header-blue">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
            <div class="container-fluid"><a class="navbar-brand" routerLink="#">OnLine Courses</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/home">Home</a></li>
      
                    </ul>
                 
                <span class="navbar-text">
                     <a class="login" routerLink="register">Register</a></span>
                     <a  class="btn btn-light action-button" role="button" routerLink="login">login</a>
                     <a *ngIf='currentUserName!= "guest" 'class="btn btn-light action-button" role="button"(click)="logout()">logout</a>
               
                </div>
            </div>
        </nav>
    </div>
</div>